// .location-container
    // margin-top: 2rem

.full-width-toggle
    height: 3rem
    margin: 0.5rem 0 1rem 0
    width: 100%
    border-radius: 1.5rem
    display: flex
    justify-content: space-between
    align-items: center
    background-color: white
    padding: 0 0.3rem

.full-width-toggle .inner
    height: 2.4rem
    width: 50%
    display: flex
    justify-content: center
    align-items: center
    opacity: 0.5
    cursor: pointer
    font-size: 0.9rem

.full-width-toggle.three .inner
    width: 33%
    

.full-width-toggle .inner.active
    border: 1.5px solid $bordergray
    border-radius: 500px
    opacity: 1



.react-datepicker-wrapper
    width: 100%

.main-input.datepicker
    text-align: center
    display: flex
    justify-content: center

.react-datepicker
    border: none
    font-family: $opensans
    box-shadow: 1px 0px 43px 4px rgba(0,0,0,0.1)
    border-radius: 7px
    padding: 20px

.react-datepicker-wrapper .main-input
    margin: 0.5rem 0 0 0

.react-datepicker__triangle
    display: none

.react-datepicker__header
    background-color: white
    border-bottom: 1px solid $hangblue

.react-datepicker__header button
    color: $hangblue

.react-datepicker__day--today
    background-color: white
    border: 1px solid $hangblue
    border-radius: 5rem
    color: $hangblue

.react-datepicker__day--selected
    background-color: $hangblue
    border-radius: 5rem
    color: white


.react-datepicker__header h2 
    color:  $hangblue

.seats-container .seats-inner
    display: flex
    justify-content: space-evenly
    align-items: center

.seats-container .seats-inner button 
    border: none
    background: none
    font-size: 1.1rem
    padding: 0.5rem 0.8rem

.new-hang .btn-primary
    margin-bottom: 4rem

.event-friends-list li 
    height: 2.5rem
    width: 100%
    margin: 1rem 0
    display: flex 
    justify-content: space-between
    align-items: center
    position: relative
    background-color: white
    font-size: 0.9rem
    padding: 0 1rem

.event-friends-list .title-container
    display: flex
    align-items: center

.list-circle-marker
    height: 1rem
    width: 1rem
    border-radius: 50%
    background-color: white
    display: flex
    background-color: $darkwhite
    justify-content: center
    align-items: center
    border: 0.5px solid $bordergray

.list-circle-marker span
    background-color: white
    border-radius: 50%
    height: 0.5rem
    width: 0.5rem


.list-circle-marker.selected span
    background-color: $hangblue
    border: none
