.event-card
    width: 100%
    background-color: white
    padding: 20px
    padding-bottom: 0
    margin: 1rem 0
    font-size: 0.95rem
    display: flex
    flex-direction: column

.event-card h3 
    color: $hangblue
    font-weight: 500

.event-card ul 
    margin-left: 1rem

.event-card li 
    display: flex
    justify-content: start
    align-items: center

.event-card li img 
    margin-right: 0.5rem

.event-card p span
    font-weight: 500

.event-card .details-header
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    margin: 1.2rem 0
    font-weight: 500

.event-card .details-header p 
    display: inline-block
    white-space: nowrap
    margin: 0 1rem

.event-card .details-header span
    height: 0.5px
    width: 100%
    background-color: $bordergray

.event-card .btn-primary
    margin: 1rem 0 

.event-card .btn-delete
    margin: 2rem 0 1rem 0

.directions-btn
    display: inline-block
    padding: 0.5rem 1rem
    border: 1px solid $darkgray
    width: null

.directions-btn svg
    margin-left: 0.5rem
    opacity: 0.8

.toggle-event-card-btn
    width: 100%
    padding: 0.5rem 0 0.8rem 0
    color: $bordergray
    