// .view-container.feed
//     border: 1px solid red 




.feed .main-topbar .feed-logo-container
    height: 50%
    cursor: pointer

.feed .main-topbar .feed-logo-container img 
    height: 100%

.feed .main-topbar .btn-main-container      
    display: flex

.feed .main-topbar .btn-container
    height: 1.8rem

.feed .main-topbar .btn-container.chat
    height: 90% 
    height: 1.7rem
    margin-left: 1.1rem
    color: white

.feed .user-name-container h3
    color: $darkgray
    font-size: 1rem
    font-weight: 500

.feed .main-topbar .btn-container img 
    height: 100% 


.feed .main-bottombar .section-container
    display: flex
    justify-content: center



.feed .main-bottombar .btn-main-container
    display: flex
    width: 80%
    height: 1.9rem
    // padding: 0 25px
    justify-content: space-between
    margin-top: 1.3rem

.feed .main-bottombar .btn-container
    height: 100%

.feed .main-bottombar .btn-container.chat
    height: 90%

.feed .main-bottombar .btn-container img
    height: 100%

.feed .main-bottombar .main-btn-container
    height: 4rem
    width: 4rem
    background-color: $darkwhite
    display: flex
    justify-content: center
    align-items: center
    font-size: 2rem
    border-radius: 500px
    margin-top: -2rem
    border: 2px solid $hangblue
    color: $hangblue

.notification-badge
    display: inline-block
    height: 0.5rem
    width: 0.5rem
    background-color: red 
    border-radius: 500px
    position: absolute
    right: 0

