.feed .main-topbar .feed-logo-container
    height: 50%
    cursor: pointer

.feed .main-topbar .feed-logo-container img 
    height: 100%

.feed .main-topbar .btn-main-container      
    display: flex

.feed .main-topbar .btn-container
    height: 1.8rem

.feed .main-topbar .btn-container.chat
    height: 90% 
    height: 1.7rem
    margin-left: 1.1rem
    color: white

.feed .user-name-container h3
    color: $darkgray
    font-size: 1rem
    font-weight: 500

.feed .main-topbar .btn-container img 
    height: 100% 


.feed .main-bottombar .section-container
    display: flex
    justify-content: center



.feed .main-bottombar .btn-main-container
    display: flex
    width: 80%
    height: 1.9rem
    justify-content: space-between
    margin-top: 1.1rem

.feed .main-bottombar .btn-container
    height: 100%

.feed .main-bottombar .btn-container.chat
    height: 90%

.feed .main-bottombar .btn-container img
    height: 100%

.feed .main-bottombar .main-btn-container
    height: 4rem
    width: 4rem
    background-color: $darkwhite
    display: flex
    justify-content: center
    align-items: center
    font-size: 2rem
    border-radius: 500px
    margin-top: -2rem
    border: 2px solid $hangblue
    color: $hangblue

.notification-badge
    display: inline-block
    height: 0.5rem
    width: 0.5rem
    background-color: red 
    border-radius: 500px
    position: absolute
    right: 0

.feed .no-data-feed
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    color: $darkgray
    font-size: 1rem
    
.feed .no-data-feed h4 
    font-size: 1.2rem

.notification-card-icon
    height: 100%
    padding: 0.5rem
    margin-left: 1rem
    align-items: center
    color: $darkgray
    font-size: 1rem

.feed-card
    padding: 0
    display: flex
    flex-direction: column

.feed-card .user-header
    display: flex
    justify-content: start
    align-items: center
    height: 3rem
    border-bottom: 0.5px solid $bordergray
    border-bottom-right-radius: 0
    border-bottom-left-radius: 0
    padding: 0 15px

.feed-card .inner
    display: flex
    padding: 15px

.feed-card .profile-img-min
    margin-right: 1rem


.feed-card .cta-container
    width: 80px
    display: flex
    flex-direction: column
    justify-content: end

.feed-card .cta-container.centered
    justify-content: center
    align-items: end

