.loader-main-container
    position: absolute
    top: 0
    right: 0
    height: 100%
    width: 99%
    padding-right: 2%
    z-index: 10
    display: flex
    justify-content: center
    align-items: center
 
.loader 
  width: 50px
  aspect-ratio: 1
  border-radius: 50%
  border: 7px solid 
  border-color: $hangblue #0000
  animation: l1 1s infinite

@keyframes l1 
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

.card-loader
    height: 5rem
    width: 100%
    background: linear-gradient(45deg, #00a1e144, white )
    background-size: 400% 100%
    animation: gradientAnimation 2s ease-in-out infinite
    margin: 1rem 0


.btn-primary.primary-loader
  background: linear-gradient(45deg, #00a1e1b9, white )
  background-size: 400% 100%
  animation: gradientAnimation 3s ease-in-out infinite
  border: none


@keyframes gradientAnimation 
  0% 
    background-position: 0% 30%
  
  100% 
    background-position: 100% 30%
