.phone-number-container
    display: flex
    align-items: center
    padding: 0 0.6rem
    border-radius: 500px
    width: 100%
    height: 3rem
    background: #ffffff
    font-size: 1rem
    margin-top: 0.5rem
    margin-bottom: 2rem

.phone-number-container .us-phone-flag
    height: 1.8rem
    width: 1.8rem
    border-radius: 50%

.phone-number-container .us-char
    margin: 0 1.5rem

.PhoneInputCountry 
    display: none

.PhoneInputInput
    font-size: 1rem

.view-container.welcome
    justify-content: space-evenly

.view-container.onboarding 
    justify-content: space-between

.view-container.onboarding .bottom-container
    height: 20vh
    display: flex
    flex-direction: column
    justify-content: end

.welcome .logo-container 
    height: 18vh
    display: flex
    justify-content: center

.welcome .logo-container img
    height: 100%

.onboarding .topbar-title
    height: 4rem
    display: flex
    justify-content: start
    align-items: center
    font-size: 1.2rem

.otp-container
    height: 3rem
    display: flex
    justify-content: space-between
    margin-top: 0.5rem
    margin-bottom: 1rem

.otp-container input 
    width: 3rem
    height: 3rem
    font-size: 1rem
    text-align: center
    border: none
    background-color: #FFFFFF
    border-radius: 5px

.captcha-container
    width: 100%
    display: flex
    justify-content: center

.view-body
    height: 100%
    max-width: 768px
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    overflow: scroll

.profile-img-container
    width: 100%
    display: flex
    justify-content: center

.profile-img-container img 
    width: 60vw
    height: 60vw
    max-height: 350px
    max-width: 350px
    object-fit: cover
    overflow: hidden
    border-radius: 1000px

.onboarding .profile-img-container
    position: relative

.onboarding-img-close-div
    position: absolute
    right: 25px
    top: -20px
    font-size: 1.4rem
    cursor: pointer

.day-container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: start
    height: 100%
    width: 2.2rem
    border: none
    background-color: white
    border-radius: 5px

.day-container.active 
    border: 0.5px solid $hangblue
    background-color: $hangblue
    color: white

    
.dot-container span 
    display: inline-block
    height: 3px
    width: 3px
    border-radius: 50%
    background-color: $darkgray

.onboarding .text-container
    height: 90%
    display: flex
    justify-content: center
    align-items: center


.onboarding .dot-container
    height: 20%
    width: 100%
    display: flex
    justify-content: center
    align-items: flex-start

.onboarding .weekdays-container
    width: 100%
    height: 3rem
    display: flex
    justify-content: space-between
    margin-top: 0.5rem

.time-picker-main-container
    width: 100%
    padding: 30px 20px
    position: relative

.time-picker-main-container .select-container
    margin-top: 2rem

.time-picker-main-container .select-container form 
    display: flex
    justify-content: space-between
    align-items: flex-end

.time-picker-main-container .inner
    display: flex
    flex-direction: column

.time-picker-main-container select 
    height: 3rem
    width: 4rem
    border: none
    padding: 10px
    margin-top: 0.5rem

.time-picker-main-container button 
    height: 3rem


.times-container
    width: 100%
    display: flex
    justify-content: space-between
    margin-top: 2rem

.times-container .inner-container
    width: 40%
    display: flex
    flex-direction: column
    align-items: flex-start

.times-container .time-display
    width: 100%
    height: 3rem
    margin-top: 0.5rem
    background-color: white
    color: $darkgray
    display: flex
    justify-content: center
    align-items: center

.time-picker-main-container .close-btn
    right: 15px
    top: 15px
    font-size: 1rem

.onboarding .invite-img-containter
    width: 100%
    height: 40vw
    display: flex
    justify-content: center
    align-items: center
    margin-top: 2rem

.onboarding .invite-img-containter img 
    height: 60%
    opacity: 0.8

.view-container.master
    justify-content: space-between

.onboarding .master-token input 
    text-align: center