//FONTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')

$opensans: "Open Sans", sans-serif

//RESET STYLES
*
    margin: 0
    padding: 0
    box-sizing: border-box
    -ms-overflow-style: none
    scrollbar-width: none

*::-webkit-scrollbar
    display: none

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button 
  -webkit-appearance: none
  margin: 0


/* For Firefox */
input[type="number"] 
  -moz-appearance: textfield



a
    text-decoration: none
    color: inherit

html, body 
    height: 100%
    display: block
    overflow: auto
    -webkit-overflow-scrolling: touch

    // display: flex
    // flex-direction: column



    // min-height: 100vh
    // padding-top: env(safe-area-inset-top)


body
    font-family: $opensans
    color: #333333

textarea, input
    border: none

textarea, input:focus
    border: none
    outline: none     

input, textarea 
    font-family: $opensans

textarea:placeholder
    font-family: $opensans

input:placeholder
    font-family: $opensans

ul
    list-style: none


//FILE IMPORTS
@import ./variables
@import ./loader
@import ./login
@import ./feed
@import ./chat
@import ./create
@import ./friends
@import ./admin
@import ./events
@import ./profile
@import ./timePicker
@import ./policies
@import ./settings


// /* Add these to your main CSS */
// html, body 
//   height: 100vh !important
//   min-height: -webkit-fill-available !important
//   overflow-y: auto !important
//   -webkit-overflow-scrolling: touch !important
//   position: relative !important


// /* Fix for iOS input focus */
// input, textarea 
//   position: relative !important
//   transform: translateZ(0) !important
//   -webkit-transform: translateZ(0) !important

// /* Container adjustments */
// .form-container, 
// form, 
// .input-container 
//   position: relative !important
//   z-index: 1 !important
//   transform: translateZ(0) !important
//   -webkit-transform: translateZ(0) !important


// /* Ensure content doesn't hide behind keyboard */
// @supports (-webkit-touch-callout: none) 
//   .form-container 
//     padding-bottom: 50vh !important
  
  
//   body 
//     min-height: -webkit-fill-available !important
  
